h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  color: #efb06b;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ef993c;
  font-weight: lighter;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #df7400;
  font-weight: bold;
}

hr {
  border-width: 2px;
  width: 70%;
}

.cvComponent {
  float: left;
  width: 33%;
  text-align: right;
}

.resumenComponent {
  float: right;
  width: 65%;
}
